<div class="container-fluid position-relative d-flex align-items-center"
    style="background: url('assets/kamar1.jpg') center no-repeat; background-size: cover; height: 100vh">
    <div class="container container-fluid py-auto">
        <div class="row align-items-center h-100">
            <div class="col-lg-6 col-md-12 mb-0 text-center text-lg-start text-light">
                <h1 class="slogan-header" style="text-shadow: 0 0 15px #000;">Selamat Datang</h1>
                <p class="text-light" style="text-shadow: 0 0 15px #000;">Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. A laborum, inventore
                    repellendus, sed velit eveniet iste obcaecati asperiores beatae reiciendis, cum voluptatem nemo
                    molestias illo maxime. Laudantium corrupti eligendi at.</p>
                <a href="#booking" class="btn btn-lg btn-light">Booking Sekarang</a>
            </div>
        </div>
    </div>
</div>